<h1>New</h1>
  <%= form_with model: @task, url: tasks_path, method: :post do |f| %>
    <p>
      <%= f.label :title %></br>
      <%= f.text_field :title %>
      <% if @task.errors.any? %>
        <%= @task.errors.messages[:title][0] %>
        <%#= @task.errors.count %>
          <%# @task.erros.full_message.each do |message| %>
            <%#= message %>
          <%# end %>
      <% end %>
    </p>
    <p>
      <%= f.submit "新規作成" %>
    </p>
  <% end %>